<template name="login">
    <div class="wrapper wrapper-full-page">
        <div class="full-page register-page" filter-color="black" data-image="../../assets/img/register.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card card-signup">
                            <h2 class="card-title text-center">HealtHistory</h2>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="card-content">
                                        <div class="info info-horizontal">
                                            <div class="icon icon-rose">
                                                <i class="material-icons">timeline</i>
                                            </div>
                                            <div class="description">
                                                <div class="pull-right" style="margin-top: 10px;">
                                                     <a href="/" class="btn btn-blue btn-round">Register</a>
                                                </div>
                                                <h4 class="info-title">Login</h4>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <form class="form login" method="" action="#">
                                        <div class="card-content">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">face</i>
                                                </span>
                                                <input id="tel" type="tel" class="form-control" placeholder="Enter your telephone number">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">lock_outline</i>
                                                </span>
                                                <input id="pass" type="password" placeholder="4 AlphaDigit Pin Code" maxlength="4" class="form-control" />
                                            </div>

                                        </div>
                                        <div class="footer text-center">
                                            <button type="submit" class="btn btn-primary btn-round">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>